include AUTHORS
include LICENSE
include MANIFEST.in
include CONTRIBUTING.md
include package.json
include README.md
include prepare.py
include *.rst
recursive-include bbc1/core/ethereum *
recursive-include utils *
graft django
prune django/contrib/admin/bin
graft docs
graft extras
graft js_tests
graft scripts
graft tests
global-exclude __pycache__
global-exclude *.py[co]
